[Unit]
Description=Pantalla Dash UI Chromium Kiosk (%i)
After=graphical.target openbox.service
Wants=graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --kiosk http://127.0.0.1 \
  --noerrdialogs --disable-session-crashed-bubble --incognito --start-fullscreen \
  --disable-pinch --overscroll-history-navigation=0 --no-first-run --fast --fast-start \
  --disable-translate --disable-infobars --disable-features=TranslateUI
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
