[Unit]
Description=Pantalla_reloj Kiosk (Epiphany) for user %i
After=pantalla-openbox@%i.service pantalla-dash-backend@%i.service
Wants=pantalla-openbox@%i.service pantalla-dash-backend@%i.service

[Service]
User=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=/var/lib/pantalla-reloj/.Xauthority
Environment=GIO_USE_PORTALS=0
Environment=GTK_USE_PORTAL=0
Environment=EPHY_PROFILE=/var/lib/pantalla-reloj/state/org.gnome.Epiphany.WebApp_PantallaReloj
ExecStartPre=/bin/sh -c 'test -r "$XAUTHORITY"'
ExecStartPre=/bin/sh -c 'DISPLAY=:0 XAUTHORITY="$XAUTHORITY" /opt/pantalla/bin/wait-x.sh'
ExecStart=/usr/bin/epiphany-browser --application-mode --profile=${EPHY_PROFILE} \
          --new-window http://127.0.0.1
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
