[Unit]
Description=Pantalla_reloj Kiosk (Chromium) for user %i
After=pantalla-openbox@%i.service
Wants=pantalla-openbox@%i.service

[Service]
User=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
Environment=GDK_BACKEND=x11
Environment=GTK_USE_PORTAL=0
Environment=GIO_USE_PORTALS=0
Environment=CHROMIUM_SCALE=0.84
Environment=CHROMIUM_USER_DATA_DIR=/home/%i/.local/share/pantalla-reloj/chromium
Environment=CHROMIUM_CACHE_DIR=/home/%i/.cache/pantalla-reloj/chromium

ExecStartPre=/bin/sh -lc 'xset -dpms; xset s off; xset s noblank || true'
ExecStartPre=/bin/sh -lc 'wmctrl -lx | awk '\''/pantalla-kiosk/ {print $1}'\'' | xargs -r -n1 wmctrl -ic || true'

ExecStart=/usr/local/bin/pantalla-kiosk-chromium
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
