[Unit]
Description=Pantalla_reloj Openbox session for %i (DISPLAY=:0)
After=pantalla-xorg.service
Requires=pantalla-xorg.service
Wants=pantalla-dash-backend@%i.service

[Service]
User=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=/var/lib/pantalla-reloj/.Xauthority
PAMName=login
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStart=/usr/bin/openbox --startup "/usr/lib/x86_64-linux-gnu/openbox-autostart OPENBOX"
Restart=always
RestartSec=2s

[Install]
WantedBy=graphical.target
