[Unit]
Description=Pantalla_reloj Kiosk (Epiphany) for user %i
After=graphical.target pantalla-xorg.service
Wants=default.target

[Service]
Type=simple
User=%i
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/kiosk-epiphany
Restart=on-failure
RestartSec=3
StartLimitIntervalSec=0

[Install]
WantedBy=default.target
