[Unit]
Description=Pantalla reloj Xorg server
After=network.target systemd-user-sessions.service graphical.target
Conflicts=display-manager.service

[Service]
Type=simple
User=root
Environment=DISPLAY=:0
ExecStartPre=/bin/sh -c '/usr/bin/systemctl disable --now lightdm gdm sddm display-manager.service || true'
ExecStart=/usr/lib/xorg/Xorg :0 -nolisten tcp -noreset -background none
ExecStop=/usr/bin/pkill -TERM -f "Xorg :0"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
