.map-frame {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.map-frame-inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  border-radius: var(--map-radius);
  background-color: var(--map-frame-bg);
}
